<html>
    <head>
    </head>

    <body>

        <p id="p1">
            Firstname: {{FirstName}}
        </p>

        <p>
            LastName: {{LastName}}
        </p>

        <p>
            CurrentPlace: {{CurrentPlace}}
        </p>

        <p>
            BirthPlace: {{BirthPlace}}
        </p>

        <p>
            Gender: {{Gender}}
        </p>

        <p>
            Department: {{Department}}
        </p>

        <script>
        var href = document.location.href;
        var id = href.split('=')[1];
        console.log(id);
        document.getElementById("p1").innerText = id;
        //Then retrieve
        var localObj = JSON.parse(localStorage.getItem("obj"));
    
        console.log(localObj[0]);
        document.getElementById("p1").innerText = localObj[2].fruit2;
        </script>
    </body>

</html>